
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800);


body {
	margin: 0px;
	font-family: "Open Sans", Sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
	letter-spacing: 0.4px;
	font-family: "Open Sans", Sans-serif;
	color: #232323;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 23px;
	letter-spacing: 0.2px;
	color: #797979;
}

.dark-bg p {
color: #B1B1B1;
}

a:hover, a:focus, a:active, a.active {
	color: #fec503;
}
a, a:hover, a:focus, a:active, a.active {
	outline: 0;
}

::selection {
	text-shadow: none;
	background: #fed136;
}

@media (min-width: 768px) {
	section {
		padding: 150px 0;
	}
}

section {
	padding: 70px 0;
}

ul {
	padding-left: 0;
	padding-top: 10px;
}

ul li {
    list-style: none;
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.2px;
    color: #000000;
}

section ul li:before {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	text-decoration: inherit;
	content: "\f105";
	padding-right: 7px;
	color: #A5682A;
}

.spacer {
    margin-top: 80px;
}

.row-0-gutter {
    margin-left: -13px;
    margin-right: -13px;
}

.col-0-gutter {
	padding-left: 0;
	padding-right: 0;
}

.navbar-default {
	background-color: #FFFFFF;
	border-bottom: 1px solid #828282;
	padding: 5px 0
}
.navbar-default .navbar-brand {
	color: #fff;
	font-family: "Montserrat",sans-serif;
	padding: 0px;
}

.navbar-default .navbar-brand img {
	padding: 5px;
	width: 80%;
}
.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:active,.navbar-default .navbar-brand.active {
	color: #fec503
}
.navbar-default .navbar-collapse {
	border-color: rgba(255,255,255,.02)
}
.navbar-default .navbar-toggle {
	background-color: #A5682A;
	border-color: #A5682A;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
	background-color: #A5682A
}
.navbar-default .nav li a {
	font-family: "Roboto",sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	color:#000;
}
.navbar-default .nav li a:hover {
	color: #A5682A;
	outline: 0
}

.navbar-default .nav li:not(.nohighlight) a:focus {
	color: #A5682A;
	outline: 0
}

.navbar-default .navbar-nav>.active>a {
	border-radius: 0;
	color: #fff;
	background-color: #fed136
}
.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #fec503
}

@media (min-width:768px) {
	.navbar-default
	{
		background-color: rgba(255, 255, 255, 0.65);
		padding: 30px 0;
		-webkit-transition:padding .3s;
		-moz-transition:padding .3s;
		transition:padding .3s;
		border:0
	}

	.navbar-default .navbar-brand img {
		padding: 0px;
		width: 100%;
	}

	.navbar-default .navbar-brand {
		/* font-size: 2em; */
		-webkit-transition:all .3s;
		-moz-transition:all .3s;
		transition:all .3s;
		margin-top: 15px;
	}

	.navbar-default .navbar-nav>.active>a {
		border-radius: 3px;
	}
	.navbar-default.navbar-shrink {
		background-color: #FFFFFF;
		border-bottom: 1px solid #828282;
		padding: 5px 0
	}
	.navbar-default.navbar-shrink .navbar-brand {
		/* font-size: 1.5em; */
		margin-top: 10px;
	}

}

header {
	background-image: url(../images/intro.jpg);
	background-repeat: none;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	text-align: center;
	color: #fff;
}

header .intro-text {
	padding-top: 100px;
	padding-bottom: 300px;
}

@media (min-width: 768px) {
	header .intro-text {
		padding-top: 230px;
		padding-bottom: 500px;
    }
}

header .intro-text .intro-lead-in {
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.65);
	margin-bottom: 25px;
	padding: 4px 20px;
	font-family: "Open Sans",sans-serif;
	font-size: 19px;
	color: #3E3E3E;
	font-weight: 300;
	line-height: 40px;
}

@media (min-width: 768px) {
	header .intro-text .intro-lead-in {
    font-size: 29px;
    line-height: 40px;
    margin-bottom: 45px;
	}
}

header .intro-text .intro-statement {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 30px;
	line-height: 48px;
	margin-bottom: 25px;
	letter-spacing: -3px;
	word-spacing: 10px;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

@media (min-width: 768px) {
	header .intro-text .intro-statement {
		line-height: 95px;
		font-size: 50px;
		margin-bottom: 50px;
		margin-top: 50px
	}
}

.section-title h2 {
	font-size: 34px;
	text-transform: uppercase;
	color: #5D5D5D;
	font-weight: 800;
	letter-spacing: -0.6px;
	position: relative;
	margin-bottom: 20px;
	padding-bottom: 15px;
}

.section-title h2:after {
	left: 50%;
	z-index: 1;
	width: 40px;
	height: 2px;
	content: " ";
	bottom: -5px;
	margin-left: -20px;
	text-align: center;
	position: absolute;
	background: #A5682A;
}

.dark-bg .section-title h2 {
	color: #fff;
}

.section-title p {
	font-size: 15px;
	font-weight: 300;
	line-height: 25px;
	/* margin: 20px 100px 60px 100px; */
}


.module-about h3 {
	font-weight: 500;
	font-size: 19px;
	text-transform: uppercase;
	color: #000000;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

.dark-bg .module-about h3 {
	color: #FFFFFF;
}

.module-about p {
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	color: #969696;
}

.item-circle {
	height: 45px;
	width: 45px;
	text-align: center;
	line-height: 48px;
	color: #FFFFFF;
	/* border: 3px solid #000; */
	border-radius: 50px;
	background-color: #A5682A;
	margin: 0 2px 4px;
	font-size: 24px;
}


.section-text h3 {
	margin: 0 0 30px;
	font-weight: 800;
	color: #5D5D5D;
}

.section-text h4 {
    margin: 0 0 20px;
    font-weight: 700;
    font-size: 17px;
}

.dark-bg .section-text h3 {
	color: #dfdfdf;
}

.dark-bg .section-text h4 {
	color: #dfdfdf;
}


figure {
	position: relative;
	overflow: hidden;
	margin: 0 1px 1px 0;
	background: #726FB9;
	text-align: center;
	cursor: pointer;
}

figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.portfolio-item figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
.portfolio-item figure figcaption, .portfolio-item figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

figure.effect-bubba {
	background: #000;
	margin-bottom: 1px;
}

figure.effect-bubba img {
	/* opacity: 0.95; */
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
	opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h2 {
	opacity: 0;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 30%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

figure.effect-bubba p {
	color: #fff;
	font-size: 13px;
	font-weight: 500;
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.light-bg {
	background-color: #f8f8f8;
}

.dark-bg {
	background-color: #333231;
	color: #fff;
}

.short-section {
	border-top: 1px solid #5D5D5F;
	border-bottom: 1px solid #5D5D5F;
	padding-top: 70px;
	padding-bottom: 70px;
}


.contact h3 {
	margin-bottom: 30px;
}

.contact p {
	font-size: 13px;
}

.contact .day {
	display: inline-block;
	width: 80px;
}

.contact i {
	margin-right: 5px;
}


footer {
	padding: 30px;
	background-color: #000;
}

footer p {
	color: #B7B7B7;
	margin: 0;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1.6px;
}

footer p a {
	color: #fff;
}

footer p a span {
	color: #A5682A;
	font-size: 10px;
	letter-spacing: 1px;
	font-weight: 700;
}


.modal-content {
	border-radius: 0;
}
.modal-header .close {
	font-size: 30px;
}
.modal-title {
	text-transform: uppercase;
	font-size: 23px;
}

.modal-body {
	padding: 0;
}

.modal-body p {
	margin: 30px 20px;
	color: #2D2D2D;
}

.modal-works {
font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	margin: 25px 20px;
}

.modal-works span {
	background-color: #FED136;
	margin-right: 15px;
	padding: 5px 10px;
}


.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
	color: #fff;
	background-color: #fec503;
	border-color: #f6bf01;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open .dropdown-toggle.btn {
	color: #fff;
	background-color: #fec503;
	border-color: #f6bf01;
}

.btn {
	display: inline-block;
	padding: 8px 20px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #A5682A;
}

.btn-xl {
color: #fff;
    background-color: #A5682A;
    /* border-color: #726FB9; */
    font-family: "Open Sans",sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 0;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 17px 45px;
}

.grid {
  margin: 0 auto;
	opacity: 0;

	/* animation:fadeIn ease-in 1;
	animation-duration:1s; */
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.grid-sizer,
.grid-item {
  width: 350px;
}

.panel {
  border-radius: 0;
	border: 0.5px solid light-gray;
	margin: 4px;
}


.panel-default>.panel-footer {
	background-color: #FFF;
}

.panel-caption {
	padding: 10px;
}

.panel-footer {
	border-bottom: none;
	border-color: #FFF;
	font-family: "Open Sans",sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

.panel-body img {
    display : block;
    margin : auto;
    width 100%;
}

/* for the magnific popup zoom function */
.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

.mfp-figure figure {
  background-color: transparent;
	cursor: default;;
}

.mfp-title {
	font-family: "Open Sans",sans-serif;
	text-transform: uppercase;
}

.mfp-counter {
	font-family: "Open Sans",sans-serif;
}
