<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="DESCRIPTION" CONTENT="Reinald Functional Art">
		<meta name="KEYWORDS" CONTENT="art,functionalart,arte,artefuncional,wood,madera,design,diseño">
		<meta name="author" content="Reinald Van De Walle">
		<link rel="icon" href="favicon.ico">
		<title>Reinald Arte Funcional</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		<link href="{{if ne .Section ""}}../../{{end}}css/style.css" rel="stylesheet">
	</head>
	<body id="page-top">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{if ne .Section ""}}../../{{end}}#page-top"><img src="{{if ne .Section ""}}../../{{end}}images/logo.png" alt="Reinald Logo"></a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="nohighlight">
							<a href="{{if ne .Section ""}}../../{{end}}#page-top">Home</a>
						</li>
						<li>
							<a href="{{if ne .Section ""}}../../{{end}}#galleries">{{.Site.Params.menu.galleriesText}}</a>
						</li>
						<li>
							<a href="{{if ne .Section ""}}../../{{end}}#about">{{.Site.Params.menu.aboutText}}</a>
						</li>
						<li>
							<a href="{{if ne .Section ""}}../../{{end}}#contact">{{.Site.Params.menu.contactText}}</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
